body {
  font-family: sans-serif;
  background-image: url("../img/background.jpg");
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 60px;
}
.container {
  align-content: center;
  border: 1px solid black;
  width: 600px;
  height: 600px;
  padding: 0px 20px 20px 20px;
}